<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yologger.local_bound_service">

    <application
        android:process="com.yologger.process_test"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Local_bound_service">
        <service
            android:name=".MyLocalBoundService"
            android:enabled="true"
            
            android:exported="true"></service>

        <activity android:name=".MainActivity"
            android:process="com.yolo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>